body {
	margin: 0px;
	font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
}

.container {
	margin: 10px;
}

h1 {
	text-align: center;
}

.axis--x path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.site-balance {
	border:2px solid #76b852;
	border-radius: 5px;
	padding: 10px 10px;
	margin: 8px 10px;
	display: flex;
	justify-content: space-between;
}

.site-balance * {
	padding: 0px 0;
	margin: 0;
}

.graph-name {
	text-align: center;
}

table {
	text-align: center;
	color: #fff;
	border-spacing: 0;
}

table td {
	padding: 10px;
	border-collapse: separate;
	margin: 0;
}

.time-header {
	font-weight: bold;
	background-color: #2c3e50;
}

.time-values {
	background-color: #18bc9c;
}

.time-wrapper {
	display: flex;
	justify-content: center;
}

header,footer {
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #76b852 , #8DC26F);
	background: linear-gradient(to left, #76b852 , #8DC26F); 
	color: white;
	margin: 0;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
}

footer {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

@font-face {
  font-family: 'bmb';
  src: url('/font/bmb.eot?52430211');
  src: url('/font/bmb.eot?52430211#iefix') format('embedded-opentype'),
       url('/font/bmb.woff2?52430211') format('woff2'),
       url('/font/bmb.woff?52430211') format('woff'),
       url('/font/bmb.ttf?52430211') format('truetype'),
       url('/font/bmb.svg?52430211#bmb') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
    font-family: "bmb";
    font-style: normal;
    font-weight: normal;
    speak: none;
}

i.plain {
	color: #fff;
	font-size: 30px;
}

a.plain {
	text-decoration: none;
}

.update-link {
	display: flex;
	align-items: center;
}

.icon-arrows-cw:before { content: '\e800'; } /* '' */
.icon-beer:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */