body {
	margin: 0px;
}

h1 {
	text-align: center;
}

.axis--x path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.site-balance {
	border:2px solid #76b852;
	border-radius: 5px;
	padding: 10px 10px;
	margin: 8px 10px;
}

.site-balance * {
	padding: 0px 0;
	margin: 0
}

header,footer {
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #76b852 , #8DC26F);
	background: linear-gradient(to left, #76b852 , #8DC26F); 
	color: white;
	margin: 0;
	height: 40px;
	line-height: 40px;
}